#Кэш, env, виртуализация
.env
modbusenv/
__pycache__/

#Докер файлы
Dockerfile
docker-compose.yml

#Устаревшие файлы (в будущем удалить)
client_parser.py

#Скрыто до проведения оптимизации
requirements.txt